# Project exclude paths
/nvwa-apis/nvwa-mobileapi/target/
/nvwa-apis/nvwa-openapi/target/
/nvwa-business/target/
/nvwa-services/nvwa-log-service/target/
/nvwa-services/nvwa-user-service/target/
/nvwa-test/target/
# Project exclude paths
/nvwa-commons/nvwa-common/target/
/nvwa-services/nvwa-user-interface/target/